@font-face {
  font-family: 'TokufutoGyousho';
  font-display: swap;
  src: url("../font/TokufutoGyousho.woff2") format("opentype");
}
@font-face {
  font-family: 'Oswald Stencil';
  font-display: swap;
  src: url("../font/Oswald-Stencil.woff2") format("opentype");
}
/* line 5, ../../src/scss/Foundation/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media print, screen and (max-width: 960px) {
  /* line 11, ../../src/scss/Foundation/_base.scss */
  html {
    font-size: 12.8px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 11, ../../src/scss/Foundation/_base.scss */
  html {
    font-size: 16px;
  }
}

/* line 22, ../../src/scss/Foundation/_base.scss */
body {
  font-family: "Noto Sans JP", serif;
  overflow-x: hidden;
  font-feature-settings: 'palt';
  background: #FEF1D9;
  color: #292E2E;
  margin: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 22, ../../src/scss/Foundation/_base.scss */
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 22, ../../src/scss/Foundation/_base.scss */
  body {
    font-size: 0.875rem;
  }
}

/* line 39, ../../src/scss/Foundation/_base.scss */
p {
  margin: 0;
}

/* line 43, ../../src/scss/Foundation/_base.scss */
a {
  color: #2b2b2b;
  text-decoration: none;
}

/* line 48, ../../src/scss/Foundation/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 53, ../../src/scss/Foundation/_base.scss */
.topic-en {
  font-family: "Cambria", sans-serif;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 53, ../../src/scss/Foundation/_base.scss */
  .topic-en {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 53, ../../src/scss/Foundation/_base.scss */
  .topic-en {
    font-size: 1rem;
  }
}
/* line 68, ../../src/scss/Foundation/_base.scss */
.topic-jp {
  font-family: "TokufutoGyousho";
  letter-spacing: 0.08em;
  text-align: center;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 68, ../../src/scss/Foundation/_base.scss */
  .topic-jp {
    font-size: 3.125rem;
    margin-top: 0.75rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 68, ../../src/scss/Foundation/_base.scss */
  .topic-jp {
    font-size: 2.25rem;
    margin-top: 0.5rem;
  }
}

/* line 86, ../../src/scss/Foundation/_base.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 90, ../../src/scss/Foundation/_base.scss */
img[src$=".svg"] {
  fill: currentColor;
  width: 100%;
  height: auto;
}

/* line 97, ../../src/scss/Foundation/_base.scss */
.icon {
  display: inline-block;
}

/* line 101, ../../src/scss/Foundation/_base.scss */
em {
  font-style: normal;
}

/* line 105, ../../src/scss/Foundation/_base.scss */
ol, ul {
  margin: 0;
  padding: 0;
}

/* line 110, ../../src/scss/Foundation/_base.scss */
li {
  list-style-type: none;
}

/* line 114, ../../src/scss/Foundation/_base.scss */
table {
  width: 100%;
}

/* line 118, ../../src/scss/Foundation/_base.scss */
ruby > rt {
  font-size: 0.625rem;
}

@media only screen and (max-width: 767px) {
  /* line 122, ../../src/scss/Foundation/_base.scss */
  .pc-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 768px) {
  /* line 128, ../../src/scss/Foundation/_base.scss */
  .sp-only {
    display: none !important;
  }
}

/* line 134, ../../src/scss/Foundation/_base.scss */
select:focus {
  outline: none;
}

/* line 138, ../../src/scss/Foundation/_base.scss */
input:focus {
  outline: none;
}

/* line 142, ../../src/scss/Foundation/_base.scss */
textarea:focus {
  outline: none;
}

/* line 146, ../../src/scss/Foundation/_base.scss */
.full-link {
  display: block;
  height: 100%;
}

/* line 151, ../../src/scss/Foundation/_base.scss */
.button-more {
  position: relative;
  width: 12.5rem;
  height: 2.5rem;
  margin: 1.875rem auto 0;
  text-align: center;
  border: 2px solid #292E2E;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 2.5rem;
  background: #292E2E;
  cursor: pointer;
  font-family: "TokufutoGyousho";
  overflow: hidden;
  user-select: none;
}
/* line 167, ../../src/scss/Foundation/_base.scss */
.button-more:before {
  content: "";
  position: absolute;
  background: #FFFDFB;
  width: 0;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
/* line 179, ../../src/scss/Foundation/_base.scss */
.button-more a {
  position: absolute;
  width: 100%;
  color: #FFFDFB;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.3s;
}
/* line 190, ../../src/scss/Foundation/_base.scss */
.button-more:hover:before {
  width: 100%;
}
/* line 194, ../../src/scss/Foundation/_base.scss */
.button-more:hover a {
  color: #292E2E;
}

/* line 1, ../../src/scss/Layout/_logo.scss */
.logo {
  font-size: 0;
}
/* line 4, ../../src/scss/Layout/_logo.scss */
.logo-fill {
  width: 0;
  height: 0;
}
/* line 8, ../../src/scss/Layout/_logo.scss */
.logo-fill-stop1 {
  stop-color: #FEF1D9;
}
/* line 12, ../../src/scss/Layout/_logo.scss */
.logo-fill-stop2 {
  stop-color: #FFD29F;
}
/* line 17, ../../src/scss/Layout/_logo.scss */
.logo-line {
  width: fit-content;
}
@media print, screen and (min-width: 768px) {
  /* line 17, ../../src/scss/Layout/_logo.scss */
  .logo-line {
    margin: 0.3125rem auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 17, ../../src/scss/Layout/_logo.scss */
  .logo-line {
    margin: 0.3125rem 0.375rem 0.3125rem 0;
  }
}
/* line 29, ../../src/scss/Layout/_logo.scss */
.logo path {
  stroke: transparent;
}

/* line 1, ../../src/scss/Layout/_phone.scss */
.phone {
  font-size: 0;
  user-select: none;
}
/* line 5, ../../src/scss/Layout/_phone.scss */
.phone-fill {
  width: 0;
  height: 0;
}
/* line 9, ../../src/scss/Layout/_phone.scss */
.phone-fill-stop1 {
  stop-color: #FEF1D9;
}
/* line 13, ../../src/scss/Layout/_phone.scss */
.phone-fill-stop2 {
  stop-color: #FFD29F;
}
/* line 18, ../../src/scss/Layout/_phone.scss */
.phone-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 24, ../../src/scss/Layout/_phone.scss */
.phone-number {
  background: -webkit-linear-gradient(-90deg, #FEF1D9 0%, #FFD29F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Oswald Stencil";
  font-weight: bold;
}

/* line 1, ../../src/scss/Layout/_header.scss */
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  /* line 1, ../../src/scss/Layout/_header.scss */
  .header {
    background: #B12B2B;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}
/* line 11, ../../src/scss/Layout/_header.scss */
.header-inner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media print, screen and (min-width: 768px) {
  /* line 11, ../../src/scss/Layout/_header.scss */
  .header-inner {
    max-width: 75rem;
    height: 5.625rem;
    padding: 0 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 11, ../../src/scss/Layout/_header.scss */
  .header-inner {
    background: #B12B2B;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    height: 3.125rem;
    padding: 0 1.25rem;
  }
}
/* line 31, ../../src/scss/Layout/_header.scss */
.header-logo {
  min-width: 9.375rem;
}
@media only screen and (max-width: 767px) {
  /* line 31, ../../src/scss/Layout/_header.scss */
  .header-logo {
    display: flex;
    align-items: flex-end;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 39, ../../src/scss/Layout/_header.scss */
  .header-logo-main {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 39, ../../src/scss/Layout/_header.scss */
  .header-logo-main {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.1875rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 53, ../../src/scss/Layout/_header.scss */
  .header-logo-sub {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 53, ../../src/scss/Layout/_header.scss */
  .header-logo-sub {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.1875rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 68, ../../src/scss/Layout/_header.scss */
  .header-menu {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 767px) {
  /* line 68, ../../src/scss/Layout/_header.scss */
  .header-menu {
    position: fixed;
    display: none;
    z-index: -1;
    background: #9C2626;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 3.125rem;
    overflow-y: auto;
  }
}
/* line 88, ../../src/scss/Layout/_header.scss */
.header-menu-list {
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 88, ../../src/scss/Layout/_header.scss */
  .header-menu-list {
    display: flex;
    margin-top: 0.625rem;
  }
}
/* line 97, ../../src/scss/Layout/_header.scss */
.header-menu-item {
  position: relative;
  cursor: pointer;
  color: #FFFDFB;
  font-family: "TokufutoGyousho";
}
@media print, screen and (min-width: 768px) {
  /* line 97, ../../src/scss/Layout/_header.scss */
  .header-menu-item {
    margin-left: 1.5625rem;
    font-size: 1.125rem;
    white-space: nowrap;
    line-height: 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 97, ../../src/scss/Layout/_header.scss */
  .header-menu-item {
    border-bottom: 2px solid #FFFDFB;
    text-align: center;
    font-size: 1.125rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 116, ../../src/scss/Layout/_header.scss */
  .header-menu-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: linear-gradient(to right, transparent, #FFFDFB 10%, #FFFDFB 90%, transparent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 132, ../../src/scss/Layout/_header.scss */
  .header-menu-item:hover:before {
    width: 100%;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 139, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub {
    padding: 0 0.625rem;
    display: flex;
    align-items: center;
  }
}
/* line 146, ../../src/scss/Layout/_header.scss */
.header-menu-item.has-sub:after {
  content: "";
  width: 0.9375rem;
  height: 0.625rem;
  background: conic-gradient(from -90deg at bottom, transparent 60deg, #FFF 60deg, #FFF 120deg, transparent 120deg);
  transition: 0.5s;
}
@media print, screen and (min-width: 768px) {
  /* line 146, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub:after {
    margin-left: 0.3125rem;
    transform: rotateY(0deg);
  }
}
@media only screen and (max-width: 767px) {
  /* line 146, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub:after {
    position: absolute;
    top: 0.6875rem;
    right: 1.25rem;
    transform: rotateX(0deg);
  }
}
@media print, screen and (min-width: 768px) {
  /* line 166, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub:hover:after {
    transform: rotateY(180deg);
  }
}
@media only screen and (max-width: 767px) {
  /* line 172, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub.active:after {
    transform: rotateX(180deg);
  }
}
@media only screen and (max-width: 767px) {
  /* line 178, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub span {
    display: block;
    padding: 0.5rem 0;
  }
}
/* line 186, ../../src/scss/Layout/_header.scss */
.header-menu-item a {
  color: #FFFDFB;
}
@media print, screen and (min-width: 768px) {
  /* line 186, ../../src/scss/Layout/_header.scss */
  .header-menu-item a {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 186, ../../src/scss/Layout/_header.scss */
  .header-menu-item a {
    padding: 0.5rem 0;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 199, ../../src/scss/Layout/_header.scss */
  .header-menu-subarea {
    position: absolute;
    top: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 0;
    padding-top: 0.75rem;
    transition: 0.5s;
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 199, ../../src/scss/Layout/_header.scss */
  .header-menu-subarea {
    border-top: 2px solid #FFFDFB;
    background: #D55353;
    display: none;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 219, ../../src/scss/Layout/_header.scss */
  .header-menu-item.has-sub:hover .header-menu-subarea {
    width: 16.125rem;
  }
}
/* line 225, ../../src/scss/Layout/_header.scss */
.header-menu-sublist {
  display: flex;
  flex-wrap: wrap;
}
@media print, screen and (min-width: 768px) {
  /* line 225, ../../src/scss/Layout/_header.scss */
  .header-menu-sublist {
    justify-content: center;
    width: 16.125rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
@media print, screen and (min-width: 768px) {
  /* line 237, ../../src/scss/Layout/_header.scss */
  .header-menu-subitem {
    white-space: nowrap;
    width: 7.8125rem;
    font-size: 1rem;
    line-height: 1.875rem;
    text-align: center;
    background: #9C2626;
    margin: 0.125rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-shadow: none;
  }
  /* line 249, ../../src/scss/Layout/_header.scss */
  .header-menu-subitem:hover {
    background: #D55353;
    text-shadow: 0 0 2px #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 237, ../../src/scss/Layout/_header.scss */
  .header-menu-subitem {
    width: 50%;
    background: #D55353;
    border: 1px solid #FFFDFB;
  }
}
/* line 262, ../../src/scss/Layout/_header.scss */
.header-menu-phone {
  position: relative;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
@media print, screen and (min-width: 768px) {
  /* line 262, ../../src/scss/Layout/_header.scss */
  .header-menu-phone {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 262, ../../src/scss/Layout/_header.scss */
  .header-menu-phone {
    background: #B12B2B;
    height: 3.125rem;
    width: 15.625rem;
    margin: 1.25rem auto;
    border-radius: 0.5rem;
    border: 2px solid #FEF1D9;
  }
}
/* line 280, ../../src/scss/Layout/_header.scss */
.header-menu-phone-icon {
  width: 1.875rem;
  height: 1.875rem;
}
/* line 285, ../../src/scss/Layout/_header.scss */
.header-menu-phone-number {
  height: 1.875rem;
}
@media only screen and (max-width: 767px) {
  /* line 290, ../../src/scss/Layout/_header.scss */
  .header-menu-handler {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
  }
  /* line 297, ../../src/scss/Layout/_header.scss */
  .header-menu-handler span {
    position: absolute;
    background: #FFFFFF;
    width: 1.875rem;
    height: 0.125rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
  }
  /* line 307, ../../src/scss/Layout/_header.scss */
  .header-menu-handler span:nth-child(1) {
    top: 0.96875rem;
  }
  /* line 311, ../../src/scss/Layout/_header.scss */
  .header-menu-handler span:nth-child(2) {
    top: 1.5rem;
  }
  /* line 315, ../../src/scss/Layout/_header.scss */
  .header-menu-handler span:nth-child(3) {
    top: 2.03125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 322, ../../src/scss/Layout/_header.scss */
  .header-menu-handler.active span:nth-child(1) {
    width: 2.03125rem;
    top: 1.4375rem;
    left: 0.5625rem;
    transform: rotate(-45deg);
  }
  /* line 329, ../../src/scss/Layout/_header.scss */
  .header-menu-handler.active span:nth-child(2) {
    width: 0;
  }
  /* line 333, ../../src/scss/Layout/_header.scss */
  .header-menu-handler.active span:nth-child(3) {
    width: 2.03125rem;
    top: 1.4375rem;
    left: 0.5625rem;
    transform: rotate(45deg);
  }
}

@media print, screen and (min-width: 768px) {
  /* line 1, ../../src/scss/Layout/_main.scss */
  .main {
    padding-top: 5.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../src/scss/Layout/_main.scss */
  .main {
    padding-top: 3.125rem;
  }
}

/* line 1, ../../src/scss/Layout/_footer.scss */
.footer {
  background: #B12B2B;
  user-select: none;
}
/* line 5, ../../src/scss/Layout/_footer.scss */
.footer-inner {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 5, ../../src/scss/Layout/_footer.scss */
  .footer-inner {
    max-width: 75rem;
    padding: 0 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 5, ../../src/scss/Layout/_footer.scss */
  .footer-inner {
    padding: 0 1.25rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 18, ../../src/scss/Layout/_footer.scss */
  .footer-content {
    padding: 3.125rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  /* line 18, ../../src/scss/Layout/_footer.scss */
  .footer-content {
    padding: 2.5rem 0;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 31, ../../src/scss/Layout/_footer.scss */
  .footer-info {
    width: calc(50% - 1.875rem);
  }
}
/* line 36, ../../src/scss/Layout/_footer.scss */
.footer-info-address {
  text-align: center;
  color: #FFFDFB;
  text-shadow: 0 0 0.1875rem #292E2E;
  margin: 1.5625rem 0;
  font-size: 1.25rem;
}
/* line 44, ../../src/scss/Layout/_footer.scss */
.footer-info-zipcode {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/* line 51, ../../src/scss/Layout/_footer.scss */
.footer-logo-main {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0.25rem;
}
/* line 57, ../../src/scss/Layout/_footer.scss */
.footer-logo-sub {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.25rem;
}
/* line 63, ../../src/scss/Layout/_footer.scss */
.footer-logo-line {
  margin: 0 auto;
}
/* line 68, ../../src/scss/Layout/_footer.scss */
.footer-phone {
  position: relative;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
@media print, screen and (min-width: 768px) {
  /* line 68, ../../src/scss/Layout/_footer.scss */
  .footer-phone {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 68, ../../src/scss/Layout/_footer.scss */
  .footer-phone {
    background: #B12B2B;
    height: 3.125rem;
    width: 15.625rem;
    margin: 1.25rem auto;
    border-radius: 0.5rem;
    border: 2px solid #FEF1D9;
  }
}
/* line 86, ../../src/scss/Layout/_footer.scss */
.footer-phone-icon {
  width: 1.875rem;
  height: 1.875rem;
}
/* line 91, ../../src/scss/Layout/_footer.scss */
.footer-phone-number {
  height: 1.875rem;
}
/* line 96, ../../src/scss/Layout/_footer.scss */
.footer-map {
  color: #FFFDFB;
  text-align: center;
  text-shadow: 0 0 0.125rem #292E2E;
}
/* line 101, ../../src/scss/Layout/_footer.scss */
.footer-map a {
  color: #FFFDFB;
}
@media print, screen and (min-width: 768px) {
  /* line 96, ../../src/scss/Layout/_footer.scss */
  .footer-map {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 96, ../../src/scss/Layout/_footer.scss */
  .footer-map {
    margin-top: 3.75rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 113, ../../src/scss/Layout/_footer.scss */
  .footer-map-info {
    margin-top: 1.875rem;
  }
}
/* line 119, ../../src/scss/Layout/_footer.scss */
.footer-map-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.9375rem;
}
/* line 125, ../../src/scss/Layout/_footer.scss */
.footer-map-item {
  padding: 0.1875rem 0;
  font-size: 1.125rem;
  width: 50%;
}
/* line 131, ../../src/scss/Layout/_footer.scss */
.footer-map-title {
  font-family: "TokufutoGyousho";
  font-weight: bold;
  margin-top: 1.5625rem;
  font-size: 1.5625rem;
}

/* line 1, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb {
  margin: 0 auto;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 1, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb {
    max-width: 75rem;
    padding: 1.25rem 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb {
    padding: 0 1.25rem;
    background: #B12B2B;
    overflow: hidden;
  }
}
/* line 16, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-list {
  display: flex;
}
/* line 20, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item {
  position: relative;
  margin-right: 1.5625rem;
  white-space: nowrap;
}
@media print, screen and (min-width: 768px) {
  /* line 20, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item {
    font-size: 0.9375rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 20, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item {
    font-size: 0.75rem;
    line-height: 1.5625rem;
    color: #FFFDFB;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 35, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item a {
    text-decoration: underline;
  }
  /* line 39, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item a:hover {
    color: #B12B2B;
  }
}
@media only screen and (max-width: 767px) {
  /* line 35, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item a {
    color: #FFFDFB;
  }
}
/* line 49, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item:before {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media print, screen and (min-width: 768px) {
  /* line 49, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item:before {
    border-left: solid 0.3125rem #292E2E;
    border-top: solid 0.3125rem transparent;
    border-bottom: solid 0.3125rem transparent;
    right: -1rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 49, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item:before {
    border-left: solid 0.9375rem #FEF1D9;
    border-top: solid 0.9375rem transparent;
    border-bottom: solid 0.9375rem transparent;
    right: -1.125rem;
  }
}
/* line 72, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media print, screen and (min-width: 768px) {
  /* line 72, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item:after {
    border-left: solid 0.3125rem #FEF1D9;
    border-top: solid 0.3125rem transparent;
    border-bottom: solid 0.3125rem transparent;
    right: -0.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 72, ../../src/scss/Layout/_breadcrumb.scss */
  .breadcrumb-item:after {
    border-left: solid 0.875rem #B12B2B;
    border-top: solid 0.875rem transparent;
    border-bottom: solid 0.875rem transparent;
    right: -1rem;
  }
}
/* line 95, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item:last-child {
  margin-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 100, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item:last-child:before {
  display: none;
}
/* line 104, ../../src/scss/Layout/_breadcrumb.scss */
.breadcrumb-item:last-child:after {
  display: none;
}

@keyframes logo-line-anm {
  to {
    stroke-dashoffset: 0;
  }
}
/* line 8, ../../src/scss/Pages/_front.scss */
.front-mainvisual {
  background-color: #B12B2B;
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 14, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 22, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-stop1 {
  stop-color: #FEF1D9;
}
/* line 26, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-stop2 {
  stop-color: #FFD29F;
}
/* line 30, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-item {
  position: absolute;
  top: 50%;
  right: 50%;
}
@media print, screen and (min-width: 768px) {
  /* line 30, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item {
    width: 7.5rem;
    height: 7.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 30, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item {
    width: 5rem;
    height: 5rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 45, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.small-font {
    width: 5.625rem;
    height: 5.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 45, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.small-font {
    width: 3.75rem;
    height: 3.75rem;
  }
}
/* line 57, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-item.anm-final {
  transition: 4s;
}
@media print, screen and (min-width: 768px) {
  /* line 57, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.anm-final {
    width: 3.75rem;
    height: 3.75rem;
    top: 5rem;
    right: 10rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 57, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.anm-final {
    width: 2.5rem;
    height: 2.5rem;
    top: 3.75rem;
    right: 5rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 74, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.anm-final.small-font {
    width: 1.25rem;
    height: 1.25rem;
    top: 5.625rem;
    right: 10rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 74, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-item.anm-final.small-font {
    width: 1.125rem;
    height: 1.125rem;
    top: 4.375rem;
    right: 5rem;
  }
}
/* line 92, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-fill {
  opacity: 0;
  fill: url(#front-mainvisual-logo-fill-gradient);
}
/* line 96, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-fill.anm-show {
  opacity: 1;
  transition: 2s;
}
/* line 101, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-fill path {
  stroke: transparent;
}
/* line 106, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-line {
  z-index: 1;
  opacity: 0;
}
/* line 110, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-line.anm-show {
  opacity: 1;
}
/* line 114, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-line.anm-hidden {
  opacity: 0;
  transition: 2s;
}
/* line 119, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-line path {
  stroke: #f5d7b1;
}
/* line 124, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-ryu {
  transform: translate(-60%, -100%);
}
/* line 128, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-kai {
  transform: translate(50%, -100%);
}
@media print, screen and (min-width: 768px) {
  /* line 131, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-kai.anm-final {
    top: 4.375rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 131, ../../src/scss/Pages/_front.scss */
  .front-mainvisual-logo-kai.anm-final {
    top: 3.4375rem;
  }
}
/* line 142, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-kaku {
  transform: translate(160%, -100%);
}
/* line 146, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-kata {
  transform: translate(-120%, 0%);
}
/* line 150, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-kura {
  transform: translate(-10%, 0%);
}
/* line 154, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-chou {
  transform: translate(110%, 0%);
}
/* line 158, ../../src/scss/Pages/_front.scss */
.front-mainvisual-logo-ten {
  transform: translate(220%, 0%);
}
/* line 163, ../../src/scss/Pages/_front.scss */
.front-mainvisual-sub {
  position: absolute;
  width: 200px;
  height: 100%;
  top: -30%;
  left: 50px;
}
/* line 170, ../../src/scss/Pages/_front.scss */
.front-mainvisual-sub-inner {
  border: 5px solid #ffd29f;
  border-radius: 12px;
  transform: skewY(-30deg);
  width: 70%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
/* line 179, ../../src/scss/Pages/_front.scss */
.front-mainvisual-sub-imagearea {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 5px;
  overflow: hidden;
}
/* line 188, ../../src/scss/Pages/_front.scss */
.front-mainvisual-sub-image {
  background: radial-gradient(ellipse at center, #ffffff 150px, rgba(0, 0, 0, 0) 100px);
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: -100px;
}
/* line 199, ../../src/scss/Pages/_front.scss */
.front-notification {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 199, ../../src/scss/Pages/_front.scss */
  .front-notification {
    max-width: 75rem;
    padding: 3.125rem 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 199, ../../src/scss/Pages/_front.scss */
  .front-notification {
    padding: 2.5rem 1.25rem;
  }
}
/* line 212, ../../src/scss/Pages/_front.scss */
.front-notification-topic-en {
  color: #C0C0C0;
}
/* line 216, ../../src/scss/Pages/_front.scss */
.front-notification-topic-jp {
  background: linear-gradient(180deg, #F7C356 0%, #DC143C 100%);
  background: -webkit-linear-gradient(-90deg, #F7C356 0%, #DC143C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media print, screen and (min-width: 768px) {
  /* line 211, ../../src/scss/Pages/_front.scss */
  .front-notification-topic {
    margin-bottom: 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 211, ../../src/scss/Pages/_front.scss */
  .front-notification-topic {
    margin-bottom: 0.9375rem;
  }
}
/* line 234, ../../src/scss/Pages/_front.scss */
.front-menu-topic {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/front-menu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media print, screen and (min-width: 768px) {
  /* line 234, ../../src/scss/Pages/_front.scss */
  .front-menu-topic {
    padding: 9.375rem 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 234, ../../src/scss/Pages/_front.scss */
  .front-menu-topic {
    padding: 3.125rem 0;
  }
}
/* line 248, ../../src/scss/Pages/_front.scss */
.front-menu-topic-en {
  color: #FFFDFB;
  text-shadow: 0 0 2px #292E2E;
}
/* line 253, ../../src/scss/Pages/_front.scss */
.front-menu-topic-jp {
  color: #FFFDFB;
  text-shadow: 0 0 5px #292E2E;
}

/* line 2, ../../src/scss/Pages/_notification.scss */
.notification-area {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 2, ../../src/scss/Pages/_notification.scss */
  .notification-area {
    max-width: 75rem;
    padding: 0 2.5rem 3.125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 2, ../../src/scss/Pages/_notification.scss */
  .notification-area {
    padding: 0.9375rem 1.25rem 1.875rem;
  }
}
/* line 15, ../../src/scss/Pages/_notification.scss */
.notification-item {
  border-top: 1px dashed #292E2E;
}
@media print, screen and (min-width: 768px) {
  /* line 15, ../../src/scss/Pages/_notification.scss */
  .notification-item {
    display: flex;
    align-items: center;
    padding: 1.25rem 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 15, ../../src/scss/Pages/_notification.scss */
  .notification-item {
    padding: 0.9375rem 0.625rem;
  }
}
/* line 28, ../../src/scss/Pages/_notification.scss */
.notification-item:first-child {
  border-top: 0;
}
/* line 33, ../../src/scss/Pages/_notification.scss */
.notification-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media print, screen and (min-width: 768px) {
  /* line 33, ../../src/scss/Pages/_notification.scss */
  .notification-info {
    width: 15rem;
    min-width: 15rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 33, ../../src/scss/Pages/_notification.scss */
  .notification-info {
    padding: 0 0.375rem;
  }
}
/* line 48, ../../src/scss/Pages/_notification.scss */
.notification-tag {
  width: 7.5rem;
  min-width: 7.5rem;
  border-radius: 5px;
  font-family: "TokufutoGyousho";
  text-align: center;
  color: #FFFDFB;
  padding: 0.25rem;
  letter-spacing: 0.03em;
  user-select: none;
  text-shadow: 0 0 2px #292E2E;
}
/* line 60, ../../src/scss/Pages/_notification.scss */
.notification-tag-holiday {
  background: #B12B2B;
}
/* line 64, ../../src/scss/Pages/_notification.scss */
.notification-tag-newmenu {
  background: #0B8F2E;
}
/* line 68, ../../src/scss/Pages/_notification.scss */
.notification-tag-limitedmenu {
  background: #8A2BE2;
}
/* line 72, ../../src/scss/Pages/_notification.scss */
.notification-tag-other {
  background: #F7C356;
}
/* line 77, ../../src/scss/Pages/_notification.scss */
.notification-title {
  letter-spacing: 0.03em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
@media print, screen and (min-width: 768px) {
  /* line 77, ../../src/scss/Pages/_notification.scss */
  .notification-title {
    padding-left: 1.875rem;
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 77, ../../src/scss/Pages/_notification.scss */
  .notification-title {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
/* line 94, ../../src/scss/Pages/_notification.scss */
.notification-title a:hover {
  color: #B12B2B;
}
/* line 99, ../../src/scss/Pages/_notification.scss */
.notification-count {
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 99, ../../src/scss/Pages/_notification.scss */
  .notification-count {
    padding: 1.25rem 1.875rem 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 99, ../../src/scss/Pages/_notification.scss */
  .notification-count {
    padding: 0.625rem 0.625rem 0;
  }
}
/* line 111, ../../src/scss/Pages/_notification.scss */
.notification-pager {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 111, ../../src/scss/Pages/_notification.scss */
  .notification-pager {
    max-width: 75rem;
    padding: 0 2.5rem 3.125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 111, ../../src/scss/Pages/_notification.scss */
  .notification-pager {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
/* line 123, ../../src/scss/Pages/_notification.scss */
.notification-pager-list {
  display: flex;
}
@media print, screen and (min-width: 768px) {
  /* line 123, ../../src/scss/Pages/_notification.scss */
  .notification-pager-list {
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  /* line 123, ../../src/scss/Pages/_notification.scss */
  .notification-pager-list {
    justify-content: space-between;
    border-top: 1px solid #FFFDFB;
    border-bottom: 1px solid #FFFDFB;
  }
}
/* line 137, ../../src/scss/Pages/_notification.scss */
.notification-pager-item {
  text-align: center;
  user-select: none;
  cursor: default;
}
@media print, screen and (min-width: 768px) {
  /* line 137, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item {
    margin: 0.5rem;
    border: 1px solid #292E2E;
    border-radius: 0.5rem;
    overflow: hidden;
    line-height: 2.5rem;
    width: 2.5rem;
    background: #FFFDFB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  /* line 152, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.has-link:hover {
    border: 1px solid #B12B2B;
    background: #B12B2B;
    cursor: pointer;
  }
  /* line 157, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.has-link:hover a {
    color: #FFFDFB;
    text-shadow: 0 0 2px #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 137, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item {
    border-left: 1px solid #FFFDFB;
    background: #9C2626;
    color: #FFFDFB;
    text-shadow: 0 0 2px #292E2E;
    line-height: 1.875rem;
    flex: 1;
  }
  /* line 172, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item:first-child {
    border-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 177, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item a {
    color: #FFFDFB;
    background: #B12B2B;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 184, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.wide-item {
    width: 3.75rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 184, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.wide-item {
    flex: 1.5;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 194, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.wider-item {
    width: 5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 194, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.wider-item {
    flex: 2;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 204, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.current-item {
    border: 1px solid #B12B2B;
    background: #B12B2B;
    cursor: pointer;
    color: #FFFDFB;
    text-shadow: 0 0 2px #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 204, ../../src/scss/Pages/_notification.scss */
  .notification-pager-item.current-item {
    background: #D55353;
  }
}
/* line 220, ../../src/scss/Pages/_notification.scss */
.notification-singletopic {
  margin: 1.875rem auto;
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  /* line 220, ../../src/scss/Pages/_notification.scss */
  .notification-singletopic {
    max-width: 75rem;
    padding: 0 2.5rem;
    font-size: 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 220, ../../src/scss/Pages/_notification.scss */
  .notification-singletopic {
    padding: 0 1.25rem;
    font-size: 1.25rem;
  }
}
/* line 235, ../../src/scss/Pages/_notification.scss */
.notification-singletopic h2 {
  display: inline-block;
  text-align: left;
}
/* line 241, ../../src/scss/Pages/_notification.scss */
.notification-content {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 241, ../../src/scss/Pages/_notification.scss */
  .notification-content {
    max-width: 75rem;
    padding: 0 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 241, ../../src/scss/Pages/_notification.scss */
  .notification-content {
    padding: 0 1.25rem;
  }
}
/* line 253, ../../src/scss/Pages/_notification.scss */
.notification-content a {
  text-decoration: underline;
}
/* line 257, ../../src/scss/Pages/_notification.scss */
.notification-content p {
  margin: 0.9375rem 0;
  line-height: 1.8em;
}
/* line 263, ../../src/scss/Pages/_notification.scss */
.notification-navi {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 263, ../../src/scss/Pages/_notification.scss */
  .notification-navi {
    max-width: 75rem;
    padding: 1.25rem 2.5rem 3.125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 263, ../../src/scss/Pages/_notification.scss */
  .notification-navi {
    padding: 1.25rem 1.25rem 2.5rem;
  }
}
/* line 275, ../../src/scss/Pages/_notification.scss */
.notification-navi-list {
  display: flex;
  justify-content: space-between;
}
/* line 280, ../../src/scss/Pages/_notification.scss */
.notification-navi-item {
  position: relative;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 287, ../../src/scss/Pages/_notification.scss */
.notification-navi-item:before {
  position: absolute;
  content: ' ';
  top: 50%;
  transform: translateY(-50%);
}
@media print, screen and (min-width: 768px) {
  /* line 287, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item:before {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
  }
}
@media only screen and (max-width: 767px) {
  /* line 287, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item:before {
    border-top: 0.375rem solid transparent;
    border-bottom: 0.375rem solid transparent;
  }
}
/* line 304, ../../src/scss/Pages/_notification.scss */
.notification-navi-item:after {
  position: absolute;
  content: ' ';
  top: 50%;
  transform: translateY(-50%);
}
@media print, screen and (min-width: 768px) {
  /* line 304, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item:after {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
  }
}
@media only screen and (max-width: 767px) {
  /* line 304, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item:after {
    border-top: 0.375rem solid transparent;
    border-bottom: 0.375rem solid transparent;
  }
}
/* line 321, ../../src/scss/Pages/_notification.scss */
.notification-navi-item.prev-item {
  text-align: left;
  padding-left: 1.25rem;
}
/* line 325, ../../src/scss/Pages/_notification.scss */
.notification-navi-item.prev-item:before {
  left: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 325, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.prev-item:before {
    border-right: 0.75rem solid #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 325, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.prev-item:before {
    border-right: 0.5625rem solid #292E2E;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 337, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.prev-item:after {
    border-right: 0.5625rem solid #FEF1D9;
    left: 0.3125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 337, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.prev-item:after {
    border-right: 0.375rem solid #FEF1D9;
    left: 0.21875rem;
  }
}
/* line 350, ../../src/scss/Pages/_notification.scss */
.notification-navi-item.next-item {
  text-align: right;
  padding-right: 1.25rem;
}
/* line 354, ../../src/scss/Pages/_notification.scss */
.notification-navi-item.next-item:before {
  right: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 354, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.next-item:before {
    border-left: 0.75rem solid #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 354, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.next-item:before {
    border-left: 0.5625rem solid #292E2E;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 366, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.next-item:after {
    border-left: 0.5625rem solid #FEF1D9;
    right: 0.3125rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 366, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item.next-item:after {
    border-left: 0.375rem solid #FEF1D9;
    right: 0.21875rem;
  }
}
/* line 379, ../../src/scss/Pages/_notification.scss */
.notification-navi-item a {
  text-decoration: underline;
}
@media print, screen and (min-width: 768px) {
  /* line 383, ../../src/scss/Pages/_notification.scss */
  .notification-navi-item a:hover {
    color: #B12B2B;
  }
}

@media print, screen and (min-width: 768px) {
  /* line 2, ../../src/scss/Pages/_faq.scss */
  .faq-main {
    padding-top: 5.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 2, ../../src/scss/Pages/_faq.scss */
  .faq-main {
    padding-top: 3.125rem;
  }
}
/* line 12, ../../src/scss/Pages/_faq.scss */
.faq-inner {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 12, ../../src/scss/Pages/_faq.scss */
  .faq-inner {
    max-width: 75rem;
    padding: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../../src/scss/Pages/_faq.scss */
  .faq-inner {
    padding: 1.25rem;
  }
}
/* line 25, ../../src/scss/Pages/_faq.scss */
.faq-topic {
  margin: 1.25rem auto;
  text-align: center;
  font-family: "TokufutoGyousho";
  font-size: 2.5rem;
}
/* line 32, ../../src/scss/Pages/_faq.scss */
.faq-navi {
  border: 0.1875rem solid #B12B2B;
  background: #FFFDFB;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 32, ../../src/scss/Pages/_faq.scss */
  .faq-navi {
    width: 80%;
    max-width: 50rem;
    border-radius: 0.625rem;
    margin: 1.25rem auto 2.5rem;
    padding: 0.9375rem 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 32, ../../src/scss/Pages/_faq.scss */
  .faq-navi {
    border-radius: 0.5rem;
    margin: 1.875rem 1.25rem 1.875rem;
    padding: 0.625rem 0;
  }
}
/* line 51, ../../src/scss/Pages/_faq.scss */
.faq-navi-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 57, ../../src/scss/Pages/_faq.scss */
.faq-navi-item {
  text-align: center;
  font-family: "TokufutoGyousho";
  letter-spacing: 0.1em;
}
@media print, screen and (min-width: 768px) {
  /* line 57, ../../src/scss/Pages/_faq.scss */
  .faq-navi-item {
    min-width: 33%;
    font-size: 1.125rem;
    padding: 0.1875rem 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 57, ../../src/scss/Pages/_faq.scss */
  .faq-navi-item {
    min-width: 50%;
    font-size: 0.875rem;
    padding: 0.1875rem 0;
  }
}
/* line 74, ../../src/scss/Pages/_faq.scss */
.faq-navi-item:hover a {
  color: #B12B2B;
}
/* line 80, ../../src/scss/Pages/_faq.scss */
.faq-content {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 80, ../../src/scss/Pages/_faq.scss */
  .faq-content {
    max-width: 75rem;
    padding: 0 2.5rem 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 80, ../../src/scss/Pages/_faq.scss */
  .faq-content {
    padding: 0 1.25rem 1.875rem;
  }
}
/* line 92, ../../src/scss/Pages/_faq.scss */
.faq-content-title {
  background: linear-gradient(to right, #9C2626 70%, transparent 90%);
  color: #FFF;
  position: relative;
  font-family: "TokufutoGyousho";
  border-radius: 3.125rem;
  text-shadow: 0 0 0.125rem #292E2E;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 92, ../../src/scss/Pages/_faq.scss */
  .faq-content-title {
    font-size: 1.375rem;
    padding: 0.75rem 20% 0.75rem 2.5rem;
    margin-bottom: 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 92, ../../src/scss/Pages/_faq.scss */
  .faq-content-title {
    font-size: 1.125rem;
    padding: 0.5rem 20% 0.5rem 2.1875rem;
    margin-bottom: 1.5625rem;
  }
}
/* line 113, ../../src/scss/Pages/_faq.scss */
.faq-content-title:before {
  content: " ";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: #FFFDFB;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.125rem #292E2E;
}
@media print, screen and (min-width: 768px) {
  /* line 113, ../../src/scss/Pages/_faq.scss */
  .faq-content-title:before {
    left: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 113, ../../src/scss/Pages/_faq.scss */
  .faq-content-title:before {
    left: 0.9375rem;
  }
}
/* line 134, ../../src/scss/Pages/_faq.scss */
.faq-content-item {
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  border: 2px solid #D55353;
  border-radius: 0.625rem;
}
@media print, screen and (min-width: 768px) {
  /* line 134, ../../src/scss/Pages/_faq.scss */
  .faq-content-item {
    margin: 0.9375rem 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 134, ../../src/scss/Pages/_faq.scss */
  .faq-content-item {
    margin: 0.9375rem 0;
  }
}
/* line 148, ../../src/scss/Pages/_faq.scss */
.faq-content-item-question {
  color: #FFFFFF;
  background: #D55353;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.8em;
  text-shadow: 0 0 0.125rem #292E2E;
}
@media print, screen and (min-width: 768px) {
  /* line 148, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question {
    font-size: 1.125rem;
    padding: 0.1875rem 3.125rem 0.1875rem 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 148, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question {
    font-size: 1rem;
    padding: 0.1875rem 2.5rem 0.1875rem 0.625rem;
  }
}
/* line 167, ../../src/scss/Pages/_faq.scss */
.faq-content-item-question:before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
}
@media print, screen and (min-width: 768px) {
  /* line 167, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question:before {
    width: 1rem;
    height: 0.1875rem;
    right: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 167, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question:before {
    width: 0.75rem;
    height: 0.125rem;
    right: 1.25rem;
  }
}
/* line 187, ../../src/scss/Pages/_faq.scss */
.faq-content-item-question:after {
  content: "";
  position: absolute;
  background: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
@media print, screen and (min-width: 768px) {
  /* line 187, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question:after {
    width: 0.1875rem;
    height: 1rem;
    right: 1.65625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 187, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question:after {
    width: 0.125rem;
    height: 0.75rem;
    right: 1.53125rem;
  }
}
/* line 208, ../../src/scss/Pages/_faq.scss */
.faq-content-item-question.active:after {
  transition: 0.3s;
}
@media print, screen and (min-width: 768px) {
  /* line 208, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question.active:after {
    height: 0.1875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 208, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-question.active:after {
    height: 0.125rem;
  }
}
/* line 221, ../../src/scss/Pages/_faq.scss */
.faq-content-item-answer {
  background: #FFFDFB;
  line-height: 1.8em;
}
@media print, screen and (min-width: 768px) {
  /* line 221, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-answer {
    padding: 0.625rem 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 221, ../../src/scss/Pages/_faq.scss */
  .faq-content-item-answer {
    padding: 0.625rem 1.25rem;
  }
}

/* line 1, ../../src/scss/Pages/_menu.scss */
.menu {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 1, ../../src/scss/Pages/_menu.scss */
  .menu {
    max-width: 75rem;
    padding: 3.125rem 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../src/scss/Pages/_menu.scss */
  .menu {
    padding: 2.5rem 1.25rem;
  }
}
/* line 13, ../../src/scss/Pages/_menu.scss */
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media print, screen and (min-width: 768px) {
  /* line 13, ../../src/scss/Pages/_menu.scss */
  .menu-list {
    max-width: 75rem;
    padding: 1.25rem 2.5rem 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 13, ../../src/scss/Pages/_menu.scss */
  .menu-list {
    padding: 1.875rem 1.25rem 1.875rem;
  }
}
/* line 27, ../../src/scss/Pages/_menu.scss */
.menu-list-item {
  position: relative;
  margin-bottom: 1.25rem;
  background: #FFFDFB;
  border-radius: 0.3125rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media print, screen and (min-width: 768px) {
  /* line 27, ../../src/scss/Pages/_menu.scss */
  .menu-list-item {
    width: calc((100% - 2.5rem) / 3);
  }
}
@media only screen and (max-width: 767px) {
  /* line 27, ../../src/scss/Pages/_menu.scss */
  .menu-list-item {
    width: calc((100% - 1.25rem) / 2);
  }
}
/* line 46, ../../src/scss/Pages/_menu.scss */
.menu-list-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  /* line 46, ../../src/scss/Pages/_menu.scss */
  .menu-list-image {
    height: 15.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 46, ../../src/scss/Pages/_menu.scss */
  .menu-list-image {
    height: 9.375rem;
  }
}
/* line 59, ../../src/scss/Pages/_menu.scss */
.menu-list-image-inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* line 66, ../../src/scss/Pages/_menu.scss */
.menu-list-image-normal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 1;
}
/* line 75, ../../src/scss/Pages/_menu.scss */
.menu-list-image-comming {
  background-image: url(../img/front-menu-bg.jpg);
  filter: blur(3px) contrast(0.25);
}
/* line 80, ../../src/scss/Pages/_menu.scss */
.menu-list-image-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFDFB;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.25rem #292E2E;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 80, ../../src/scss/Pages/_menu.scss */
  .menu-list-image-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 80, ../../src/scss/Pages/_menu.scss */
  .menu-list-image-text {
    font-size: 1.625rem;
    line-height: 1.625rem;
  }
}
/* line 103, ../../src/scss/Pages/_menu.scss */
.menu-list-image-english {
  font-family: "Cambria", sans-serif;
}
@media print, screen and (min-width: 768px) {
  /* line 103, ../../src/scss/Pages/_menu.scss */
  .menu-list-image-english {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 103, ../../src/scss/Pages/_menu.scss */
  .menu-list-image-english {
    font-size: 1rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 117, ../../src/scss/Pages/_menu.scss */
  .menu-list-item:hover .menu-list-image-normal {
    top: 55%;
    left: 55%;
    transform: scale(1.1) translate(-50%, -50%);
  }
}
/* line 124, ../../src/scss/Pages/_menu.scss */
.menu-list-promotion {
  position: absolute;
  color: #FFFDFB;
  z-index: 2;
  bottom: 0;
  font-family: "TokufutoGyousho";
  text-shadow: 0 0 0.1875rem #292E2E;
  box-shadow: 0 0 0.1875rem #292E2E;
  border-top: 0.125rem solid #FFFDFB;
  border-right: 0.125rem solid #FFFDFB;
  border-top-right-radius: 0.625rem;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 124, ../../src/scss/Pages/_menu.scss */
  .menu-list-promotion {
    font-size: 1rem;
    line-height: 1.875rem;
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 124, ../../src/scss/Pages/_menu.scss */
  .menu-list-promotion {
    font-size: 0.875rem;
    line-height: 1.5625rem;
    padding: 0 0.5rem;
  }
}
/* line 149, ../../src/scss/Pages/_menu.scss */
.menu-list-promotion-new {
  background: #0B8F2E;
}
/* line 153, ../../src/scss/Pages/_menu.scss */
.menu-list-promotion-recommend {
  background: #FF9F00;
}
/* line 157, ../../src/scss/Pages/_menu.scss */
.menu-list-promotion-limited {
  background: #8A2BE2;
}
/* line 161, ../../src/scss/Pages/_menu.scss */
.menu-list-promotion-popular {
  background: #FF9F00;
}
/* line 166, ../../src/scss/Pages/_menu.scss */
.menu-list-name {
  flex-grow: 1;
  font-weight: bold;
  padding: 1.25rem 0.9375rem 0.3125rem;
}
@media print, screen and (min-width: 768px) {
  /* line 166, ../../src/scss/Pages/_menu.scss */
  .menu-list-name {
    font-size: 1.25rem;
  }
  /* line 174, ../../src/scss/Pages/_menu.scss */
  .menu-list-name a:hover {
    color: #B12B2B;
  }
}
@media only screen and (max-width: 767px) {
  /* line 166, ../../src/scss/Pages/_menu.scss */
  .menu-list-name {
    font-size: 1rem;
  }
}
/* line 184, ../../src/scss/Pages/_menu.scss */
.menu-list-price {
  padding: 0 0.9375rem 1.25rem;
  text-align: right;
  user-select: none;
}
@media print, screen and (min-width: 768px) {
  /* line 184, ../../src/scss/Pages/_menu.scss */
  .menu-list-price {
    font-size: 1rem;
    line-height: 1.5625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 184, ../../src/scss/Pages/_menu.scss */
  .menu-list-price {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
/* line 199, ../../src/scss/Pages/_menu.scss */
.menu-list-price-number {
  color: #DC143C;
  font-weight: bold;
  text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);
  padding-right: 0.3125rem;
}
@media print, screen and (min-width: 768px) {
  /* line 199, ../../src/scss/Pages/_menu.scss */
  .menu-list-price-number {
    font-size: 1.5625rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 199, ../../src/scss/Pages/_menu.scss */
  .menu-list-price-number {
    font-size: 1.25rem;
  }
}

/* line 3, ../../src/scss/Pages/_about.scss */
.about-access-content {
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  /* line 3, ../../src/scss/Pages/_about.scss */
  .about-access-content {
    max-width: 75rem;
    padding: 1.875rem 2.5rem 3.125rem;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  /* line 3, ../../src/scss/Pages/_about.scss */
  .about-access-content {
    padding: 1.25rem 1.25rem 1.875rem;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 17, ../../src/scss/Pages/_about.scss */
  .about-access-map {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 5px;
    font-size: 0;
  }
}
/* line 26, ../../src/scss/Pages/_about.scss */
.about-access-map-iframe {
  width: 100%;
  border: 0;
}
@media print, screen and (min-width: 768px) {
  /* line 26, ../../src/scss/Pages/_about.scss */
  .about-access-map-iframe {
    height: 37.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 26, ../../src/scss/Pages/_about.scss */
  .about-access-map-iframe {
    height: 25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 5px;
    font-size: 0;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 44, ../../src/scss/Pages/_about.scss */
  .about-access-info {
    position: absolute;
    width: calc(100% - 330px);
    max-width: 270px;
    font-size: 12px;
    top: 10px;
    right: 10px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    z-index: 1;
    background: #B12B2B;
    color: #FFFDFB;
    text-shadow: 0 0 0.125rem #292E2E;
  }
}
@media only screen and (max-width: 767px) {
  /* line 44, ../../src/scss/Pages/_about.scss */
  .about-access-info {
    max-width: 31.25rem;
    margin: 1.25rem auto 0;
  }
}
/* line 65, ../../src/scss/Pages/_about.scss */
.about-access-info-line {
  display: flex;
  justify-content: space-between;
}
@media print, screen and (min-width: 768px) {
  /* line 70, ../../src/scss/Pages/_about.scss */
  .about-access-info-name {
    width: 60px;
    text-align: right;
    margin: 9px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 70, ../../src/scss/Pages/_about.scss */
  .about-access-info-name {
    width: 5rem;
    margin: 0.3125rem 0;
    padding: 0.5rem 0.625rem;
    background: #B12B2B;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #FFFDFB;
  }
}
@media print, screen and (min-width: 768px) {
  /* line 87, ../../src/scss/Pages/_about.scss */
  .about-access-info-value {
    width: calc(100% - 75px);
  }
}
@media only screen and (max-width: 767px) {
  /* line 87, ../../src/scss/Pages/_about.scss */
  .about-access-info-value {
    width: calc(100% - 5.625rem);
    margin: 0.3125rem 0;
    padding: 0.1875rem 0.625rem;
    background: #F5F5F5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
@media print, screen and (min-width: 768px) {
  /* line 101, ../../src/scss/Pages/_about.scss */
  .about-access-info-detail {
    margin: 9px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 101, ../../src/scss/Pages/_about.scss */
  .about-access-info-detail {
    margin: 0.3125rem 0;
  }
}
